# Java/Spring Boot
**/build/
**/target/
*.class
*.jar
*.war
*.ear
*.log

# Gradle
.gradle/
**/gradle/wrapper/gradle-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.properties

# Node/Angular
**/node_modules/
**/dist/
.npm/
**/package-lock.json

# IDEs
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/new_build/
debug.log
Check
Compilation
Run
Task
